<div class="home-data">
    <h1>welcome, <span><%= user.username %></span></h1>
    <p>add as many employee details as you want to add</p>
    <h2>employee details</h2>
    <form action="/employee_data/add" method="POST">
        <fieldset>
            <label>employee first name :<span><input type="text" name="emp_first_name" required></span></label>
            <label>employee last name :<span><input type="text" name="emp_last_name" required></span></label>
            <label>designation :<span><input type="text" name="desination" required></span></label>
            <label>email : <span><input type="email" name="emp_email" required></span></label><br>
            <label>contact number : <span><input type="text" name="contact_number" required></span></label>
            <label>annual income : <span><input type="text" name="salary" required></span></label><br>
            <label>Age :<span><input type="text" name="age"></span></label>
            <label>date of birth : <span><input type="date" name="date_birth"></span></label><br>
            <label>state : <span><input type="text" name="state"></span></label>
            <label>district : <span><input type="text" name="district"></span></label><br>
            <label>address : <span><textarea name="address" id="address" cols="70" rows="15"></textarea></span></label>
            <input type="submit" value="submit">
        </fieldset>
    </form>
</div>

    <!--<table>
  <tr>
    <th>employee's name</th>
    <th>designation</th>
    <th>monthly wage</th>
    <th>delete</th>
  </tr>
  <tr>
   <% employee_data.forEach(function(user){
    %>
    <td><%= user.emp_first_name %><%= user.emp_last_name %></td>
    <% }) 
%>
   <% employee_data.forEach(function(user){
    %>
     <td><%= user.desination %></td> 
    <% }) 
%>
       <% employee_data.forEach(function(user){
    %>
    <td><%= user.salary %></td>
    <% }) 
%>
    <td> 
    <% employee_data.forEach(function(user){
    %>  
     <a href="#" class="deleteuser" data-id="<%= user._id %>">delete</a>
    <% }) 
%>
  </td>
</table>-->
    <div class="table">
        <ul class="table-header">
            <li><span>Employee's name</span>
                <ul class="data">
                    <% employee_data.forEach(function(user){ %>
                        <li>
                            <%= user.emp_first_name %>&nbsp;&nbsp;
                                <%= user.emp_last_name%>
                                    <% }) %>
                        </li>
                </ul>
            </li>
            <li><span>designation</span>
                <ul class="data">
                    <% employee_data.forEach(function(user){ %>
                        <li>
                            <%= user.desination %>
                                <% }) %>
                        </li>
                </ul>
            </li>
            <li><span>email</span>
                <ul class="data">
                    <% employee_data.forEach(function(user){ %>
                        <li>
                            <%= user.emp_email %>
                                <% }) %>
                        </li>
                </ul>
            </li>
            <li><span>annual income</span>
                <ul class="data">
                    <% employee_data.forEach(function(user){ %>
                        <li>
                            <%= user.salary %>
                                <% }) %>
                        </li>
                </ul>
            </li>
            <li><span>contact number</span>
                <ul class="data">
                    <% employee_data.forEach(function(user){ %>
                        <li>
                            <%= user.contact_number %>
                                <% }) %>
                        </li>
                </ul>
            </li>
            <li><span>delete data</span>
                <ul class="data">
                    <% employee_data.forEach(function(user){%>
                        <li><a href="#" class="deleteuser" data-id="<%= user._id %>">delete</a>
                            <% }) 
                    %>
                        </li>
                </ul>
            </li>
        </ul>
    </div>
    